header.main {
    text-align: center;
    font-family: Georgia;
    margin-bottom: 30px;
}
header.main .glyphicon {
    color: #F44336;
    top: 5px;
}
header.main h1 {
    margin: 20px 0 0;
    line-height: 40px;
}
